/* -- Small reset -- */

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(81, 81, 230);
        
}
#small{
    border: 3px solid red;
    width: 30%;
    text-align: center;
    margin: 10px;
    
}
#medium{
    border: 3px solid greenyellow;
    width: 30%;
    text-align: center;
    margin: 10px;
}
#large{
    border: 3px solid black;
    width: 30%;
    text-align: center;
    margin: 10px;
}



.flexbox{
    display: flex;
    border: 5px solid white;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-between;  
    
}






/*---- Media Querie's */

@media only screen and (max-width: 480px) {

    body {
      background-color: rgb(194, 108, 108);
    }
    .flexbox{
        flex-direction: column;
    }
    h2{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }

  
    /*
    #large{
        display: none;
    }
    #medium{
        display: none;
    } */
  }


@media screen and (min-device-width: 480px) and (max-device-width:1024px) { 
    /*-- STYLES HERE-- */
    body{
        background-color: rgb(146, 218, 75);       
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    .flexbox{
        flex-wrap: wrap;
        
    }
    #small{
        flex-grow: 2;
    }
    #large{
        flex-grow: 3;
    }
    
    
   
    
    /*
    #small{
        display: none;
    }
    #large{
        display: none;
    }
    */
   
}
@media screen and (min-width:1024px) {
   
    /*
    #small{
        display: none;
    }
    #medium{
        display: none;
    } 
    */
    
}

